* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", monospace;
  font-weight: 500;
  font-style: normal;
  background: #1e1e2e;
  color: #cdd6f4;
}

a {
  color: #89b4fa;
}

a:visited {
  color: #b4befe;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-container>img {
  width: 40px;
  height: 40px;
}

.title-container>img:hover {
  width: 10px;
  height: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: #cdd6f4 solid 1px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  margin: 15px 0;
}

.nav-header {
  position: absolute;
  top: -11px;
  left: 10px;
  background: #1e1e2e;
}

.container {
  padding: 20px 20rem 70px 20rem;
}

.title {
  font-size: 25px;
  color: #cba6f7;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  font-size: 17px;
  color: #74c7ec;
  padding: 10px 0;
}

.section-header {
  width: fit-content;
}

.divider {
  border: solid #04a5e5 1px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.min-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding-top: 20px;
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #181825;
  text-align: center;
  padding: 5px 0;
  z-index: 10;
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 20px 20px 70px 20px;
  }
}

/* Arts page */

.arts-container {
  padding: 20px 20px;
}

.arts-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: #cdd6f4 solid 1px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  margin: 15px auto;
  width: 75%;
}

.arts-gallery {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0px;
}

@media only screen and (max-width: 900px) {
  .arts-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: #cdd6f4 solid 1px;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    margin: 15px auto;
    width: 100%;
  }
}
