@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Mono", serif;
  font-weight: 400;
  font-style: normal;
  background: #0f1010;
  color: aliceblue;
}

a {
  color: #81a5de;
}

a:visited {
  color: #9e90b7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  width: 75%;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: cyan;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  width: fit-content;
  text-align: center;
}

.line {
  border: cyan solid 1px;
}

.portfolio {
  padding-top: 10px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  border: cyan solid 1px;
  border-radius: 5px;
  padding: 10px 0px;
  margin: 20px 0px;
  position: relative;
}

.second-section {
  display: flex;
  gap: 10px;
}

.sub-title {
  position: absolute;
  left: 15px;
  top: -12px;
  background: #0f1010;
}

.content {
  display: flex;
  flex-direction: column;
  border: cyan solid 1px;
  border-radius: 5px;
  position: relative;
  padding: 15px 10px;
  line-height: 1.5;
  gap: 10px;
  width: 66.67%; /* Two-thirds width */
  font-size: 15px;
}

.sub-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  position: relative;
  line-height: 1.5;
  flex-grow: 1;
}

.sub-section > div {
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
}

.acheivements {
  flex-grow: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
