@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Mono", serif;
  font-weight: 400;
  font-style: normal;
  background: #0f1010;
  color: aliceblue;
}

a {
  color: #00bcd4;
}

a:visited {
  color: #0097a7;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: cyan solid 1px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  margin: 15px 0;
}

.nav-header {
  position: absolute;
  top: -11px;
  left: 10px;
  background: #000000;
}

.container {
  padding: 20px 20px 50px 20px;
}
.title {
  font-size: 25px;
  color: cyan;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  font-size: 17px;
  color: cyan;
  padding: 10px 0;
  text-decoration: underline;
}

.intro-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  text-align: center;
  padding: 10px 0;
  z-index: 10;
}

/* Arts page */

.arts-gallery {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
